<section class="services">
  <div class="main-title text-center my-5">
    <h2 class="main-color fw-bold h1">Our Services</h2>
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <div class="services-one text-center">
          <div class="services-icon">
            <i class="fa-solid fa-flask-vial fs-1 secound-color"></i>
          </div>
          <div class="services-head pt-5">
            <h1 class="fw-bold h4">Medical Sample Transportation</h1>
          </div>
          <div class="services-content pt-4 text-muted">
            <p>
              Secure and efficient collection and transportation of medical
              samples, including blood, tissue, and other diagnostic materials.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services-one text-center">
          <div class="services-icon">
            <i class="fa-solid fa-pills fs-1 secound-color"></i>
          </div>
          <div class="services-head pt-5">
            <h1 class="fw-bold h4">Medication Delivery</h1>
          </div>
          <div class="services-content pt-4 text-muted">
            <p>
              Timely and safe delivery of pharmaceuticals and other medications.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services-one text-center">
          <div class="services-icon">
            <i class="fa-solid fa-stethoscope fs-1 secound-color"></i>
          </div>
          <div class="services-head pt-5">
            <h1 class="fw-bold h4">Refferal Diagnostics</h1>
          </div>
          <div class="services-content pt-4 text-muted">
            <p>
              Wide range of diagnostic solutions through our network of
              internationally accredited laboratory partners. Including Special
              routine testing, Molecular genetics, Pathology and Wellness
              genetics
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
