<section class="AboutUs my-5">
  <div class="main-title text-center my-5">
    <h2 class="main-color fw-bold h1">About Us</h2>
  </div>
  <div class="container py-5">
    <div class="row flex-wrap-reverse">

      <div class="col-md-6">
        <div class="inner-aboutUs">
          <div class="vision">
            <div
              class="vision-icon secound-color d-flex align-items-center gap-5"
            >
              <i class="fa-regular fa-eye fs-1"></i>
              <p class="text-black m-0 fs-5 fw-bold">Vision</p>
            </div>
            <div class="vision-content py-3">
              <p>
                To set the benchmark for Reliability, Efficiency, and Safety in
                the medical transportation. We envision a future where
                healthcare providers can fully trust in our capabilities to
                support their critical needs, ensuring optimal patient care and
                medical outcomes.
              </p>
            </div>
          </div>
          <div class="mission">
            <div
              class="vision-icon secound-color d-flex align-items-center gap-5"
            >
              <i class="fa-solid fa-bullseye fs-1"></i>
              <p class="text-black m-0 fs-5 fw-bold">Mission</p>
            </div>
            <div class="vision-content py-3">
              <p>
                To provide superior medical logistics services that prioritize
                the safety, integrity, and timely delivery of medical samples
                and medications.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-img">
          <img src="assets/Image/ccb41dad-9002-4c76-a604-c1eeb7744bea.webp" alt="About-Img" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
