.vision-icon i{
  border: 2px dashed rgba(229, 229, 229, 0.671);
  border-radius: 3px;
  padding: 8px;
}
.vision-icon p::after{
  content: '';
  position: absolute;
  background-color:rgba(229, 229, 229, 0.671);
  width: 44px;
  height: 2px;
  top: 50%;
  left: -45px;
}
.vision-icon p{
  letter-spacing: 2px;
  position: relative;
}
.vision-content{
  line-height: 2.3;
}
