<section class="Transit Time main-linergradiant">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="img-gps">
          <img src="assets/Image/Screenshot_2024-10-28_161149-removebg-preview.webp" alt="gps" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <div class="counter text-center">
          <span [countUp]="346" [options]="{ enableScrollSpy: true }" class="secound-color py-2 fw-bold fs-1">0</span>
          <p class="m-0 py-2 fw-bold fs-3 text-white-50">Daily Deliveries</p>
        </div>
        <div class="counter text-center my-4">
          <span [countUp]="960" [options]="{ enableScrollSpy: true }" class="secound-color py-2 fw-bold fs-1">0</span>
          <p class="m-0 py-2 fw-bold fs-3 text-white-50">Samples Daily</p>
        </div>
        <div class="counter text-center">
          <span [countUp]="236" [options]="{ enableScrollSpy: true }" class="secound-color py-2 fw-bold fs-1">0</span>
          <p class="m-0 py-2 fw-bold fs-3 text-white-50">Medication Daily</p>
        </div>
      </div>
    </div>
  </div>
</section>
