<section class="tec">
  <div class="main-title text-center my-5">
    <h2 class="main-color fw-bold h1">Technology and Innovation</h2>
  </div>
<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <div class="tec-gps d-flex align-items-center">
        <div class="gps-icon">
          <i class="fa-solid fa-money-bill-1-wave fs-1 secound-color"></i>
        </div>
        <div class="gps-title ms-5">
          <h2 class="fw-bold h3">
            Advanced GPS<br>
                            Tracking
          </h2>
        </div>
        <div class="gps-content ms-5">
          <p class="text-muted m-0">
            Real-time location tracking for all transport vehicles.
          </p>
        </div>
      </div>
      <div class="tec-gps d-flex align-items-center  mt-5">
        <div class="gps-icon">
          <i class="fa-solid fa-hand-holding-dollar fs-1 secound-color"></i>
        </div>
        <div class="gps-title ms-5">
          <h2 class="fw-bold h3">
            Environmental
            <br>Monitoring
          </h2>
        </div>
        <div class="gps-content ms-5">
          <p class="text-muted m-0">
            Temperature and humidity sensors to ensure proper conditions
during transport.
          </p>
        </div>
      </div>
      <div class="tec-gps d-flex align-items-center mt-5">
        <div class="gps-icon">
          <i class="fa-solid fa-money-bill-1-wave fs-1 secound-color"></i>
        </div>
        <div class="gps-title ms-5">
          <h2 class="fw-bold h3">
            Advanced GPS<br>
                            Tracking
          </h2>
        </div>
        <div class="gps-content ms-5">
          <p class="text-muted m-0">
            Real-time location tracking for all transport vehicles.
          </p>
        </div>
      </div>
      <div class="tec-gps d-flex align-items-center  mt-5">
        <div class="gps-icon">
          <i class="fa-solid fa-hand-holding-dollar fs-1 secound-color"></i>
        </div>
        <div class="gps-title ms-5">
          <h2 class="fw-bold h3">
            Environmental
            <br>Monitoring
          </h2>
        </div>
        <div class="gps-content ms-5">
          <p class="text-muted m-0">
            Temperature and humidity sensors to ensure proper conditions
during transport.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
